<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Queries" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\QueryScripts\"></add>
		<add key="TC1_10535_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10535\"></add>
		<add key="TC1_10548_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10548\"></add>
		<add key="TC4_10548_Path" value="C:\DDL\"></add>
		
		<add key="APP_PATH" value="C:\\Program Files\\Idera\\Idera SQL diagnostic manager\\SQLdmDesktopClient.exe"></add>
		<add key="SqldmRepository" value="Server=CIGNITI-W12R2-1\SQL2016; Database= SQLdmRepository; Integrated Security=True;"></add>
		
		<add key="WindowsUser" value="SIMPSONS\administrator"></add>
		<add key="WinUserPassword" value="control*88"></add> 	
	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>